<div class="container-fluid">
  <div class="row">
    <div id="gallery" class="col-md-9">
      <div class="gallery">
        <div *ngFor="let item of items"
             class="overview-item fader">

          <div class="overlay">
            <div class="overlay-text">{{item.name}}</div>
          </div>
          <img class="item-picture" [src]="'assets/images/'+item.name+'.jpg'" alt="item image">
          <div class="detail-card">
            <p class="price">Price: {{item.price}} </p>
          </div>
          <div class="detail-card">
            <p class="stock">Stock: {{item.stock}}</p>
          </div>
          <p class="stock-urgency">{{item.stockUrgency}}</p>
        </div>

      </div>
    </div>
  </div>
</div>
